<ion-header>
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink] ="['/cadastro1']">
        <ion-icon name="add"></ion-icon>       
      </ion-fab-button>
    </ion-fab>
    <ion-card class="welcome-card">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <ion-card-header>
        <ion-card-title>Produtos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let produto of produtos">
          <p><b>Nome :</b>{{ produto?.productName }}</p> 
          <ion-button (click)="detalhar()" color="primary"></ion-button> 
          <ion-button (click)="apagar()" color="primary"></ion-button> 
          
          <!-- <p><b>Nome Inglês :</b>{{ produto?.englishName }}</p>  
          <p><b>Descrição :</b>{{ produto?.description }}</p>   
          <p><b>Preço :</b>{{ produto?.price }}</p> 
          <p><b>Quantidade :</b>{{ produto?.quantity }}</p>   
          <p><b>Unidade :</b>{{ produto?.unity }}</p> -->
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
